@font-face {
    font-family: 'Hurmit';
    src: url(fonts/Hurmit/HurmitNerdFont-Regular.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Hurmit';
    src: url(fonts/Hurmit/HurmitNerdFont-Italic.otf) format('opentype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Hurmit';
    src: url(fonts/Hurmit/HurmitNerdFont-Light.otf) format('opentype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Hurmit';
    src: url(fonts/Hurmit/HurmitNerdFont-LightItalic.otf) format('opentype');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Hurmit';
    src: url(fonts/Hurmit/HurmitNerdFont-Bold.otf) format('opentype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Hurmit';
    src: url(fonts/Hurmit/HurmitNerdFont-BoldItalic.otf) format('opentype');
    font-style: italic;
    font-weight: 700;
}

body {
    background-color: #42386B;
    color: white;
    font-family: 'Hurmit';
    overflow-x: hidden;
    /* display: flex;
    justify-content: center; */
}

a {
    color: #F692C9;
}

#mainSection {
    /* background-color: red; */
    float: left;
    width: 65%;
    padding: 1% 2% 2% 2%;
    -webkit-animation: fadeIn 2s 1 normal ease-out;
    animation: fadeIn 2s 1 normal ease-out;
}

#sideImg {
    position: relative;
    float: right;
    width: 30%;
    left: 0px;
    -webkit-animation: floatSide 1s 1 normal ease-out;
    animation: floatSide 1s 1 normal ease-out;
}

@-webkit-keyframes floatSide {
    0% {
        left:600px;
    }
    100% {
        left: 0px;
    }
}
@keyframes floatSide {
    0% {
        left:600px;
    }
    100% {
        left: 0px;
    }
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* #header {
    background-color: aqua;
}

#articleList {
    background-color: blueviolet;
} */
